* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(https://images2.alphacoders.com/101/1012090.jpg) no-repeat center;
    background-size: 200vw;
}